<img id="top-banner" src="{{ post.img }}" alt="">
<div class="top-banner-title">
    {{post.title}} {{post.year}}<br>
    <button class="watch-now" onclick="loadRandomContentViewer()">Watch Now (Random)</button>
</div>


<style>
    #top-banner {
        width: 100%;
        height: 450px;
        object-fit: cover;
        background-color: aliceblue;
    }

    .top-banner-title {
        padding: 12px;
        font-family: 'Sofia';
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
    }

    .watch-now {
        border: none;
        outline: none;
        padding: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 8px;
    }

    .watch-now:hover {
        background-color: beige;
    }
</style>