<video id="random_video_player" src="" controls autoplay="true">
</video>
<div class="random_controls">
  <div id="random_video_player_title">
  </div>
  <button style="border: none; outline: none; background-color: yellow;" onclick="loadRandomContentIntoVideoPlayer()">SKIP</button>
</div>

<style>
  #random_video_player {
    width: 100%;
    height: 75%;
  }

  .random_controls {
    display: flex;
  }

  #random_video_player_title {
    background-color: aliceblue;
    padding: 12px;
    flex-grow: 1;
  }
</style>

<script>
  var video = document.getElementById("random_video_player");
  video.addEventListener('canplay', (event) => {
    video.play();
  })

  video.addEventListener('ended', (event) => {
    loadRandomContentIntoVideoPlayer();
  })

  function loadRandomContentIntoVideoPlayer() {
    $.get('api/random_content', (res) => {
      video.poster = res.img;
      video.src = res.download_link;
      $("#random_video_player_title").html(res.title);
      // $("#random_video_player").attr('src', res.download_link);
    })
  }

  loadRandomContentIntoVideoPlayer();
</script>